<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ========== for css part ========== -->
    <link rel="stylesheet" href="./assets/css/base.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/detail.css" />
    <!-- for boxicons import css part -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- for swiper css part -->
    <link
      rel="stylesheet"
      href="./assets/swiper-7.4.1/swiper/swiper-bundle.min.css"
    />

    <!-- ========== for gsap js ========== -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"
      integrity="sha512-gWlyRVDsJvp5kesJt4cSdPPLZIBdln/uSwzYgUicQcbTgRNQE4QhP5KUBIYlLYLkiKIQiuD7KUMHzqGNW/D2bQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Woody Xiao Profolio</title>
  </head>
  <body>
    <!-- ========== scroll top ========== -->
    <a href="#" class="scroll_top" id="scroll_top">
      <i class="bx bx-chevron-up scrolltop__icon"></i>
    </a>

    <!-- ========== for the header part ========== -->
    <header class="l_header" id="header">
      <nav class="nav bd_container">
        <a href="#" class="nav__logo"
          ><img
            class="logo_img"
            src="assets/img/final logo 3.1 white.png"
            alt=""
        /></a>

        <div class="nav_menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav_link active_link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav_link">About</a>
            </li>
            <!-- <li class="nav__item">
              <a href="#details" class="nav_link">Services</a>
            </li> -->
            <li class="nav__item">
              <a href="#portfolio" class="nav_link">Portfolio</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav_link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>
    <!-- ========== end for the header part ========== -->

    <!-- ========== for the main part ========== -->
    <main class="l_main">
      <!-- ========== home ========== -->
      <section class="home" id="home">
        <div class="home__container bd_container bd_grid">
          <div class="home__data">
            <span class="home__greeting">Hello, My name is</span>
            <h1 class="home__name">Woody Xiao</h1>
            <!-- <span class="home__profession">Web Designer & Developer</span> -->
            <a
              download=""
              href="assets/pdf/Woody_Xiao_Resume_2024.pdf"
              class="button home__button"
              >Download my resume</a
            >
          </div>

          <div class="home__social">
            <a
              href="https://www.linkedin.com/in/wendi-xiao-4ab16517b/"
              class="home__social-icon"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a href="https://github.com/WoodyXiao" class="home__social-icon"
              ><i class="bx bxl-github"></i
            ></a>
            <a
              href="https://www.instagram.com/wendiii_xiao/"
              class="home__social-icon"
              ><i class="bx bxl-instagram"></i
            ></a>
          </div>

          <!-- <div class="home_img">
            <img src="assets/img/woody2.jpg" alt="" />
          </div> -->
        </div>
      </section>

      <!-- ========== about ========== -->
      <section class="about section bd_container" id="about">
        <span class="section-subtitle">My history</span>
        <h2 class="section-title">About me</h2>

        <div class="about__container bd_grid">
          <div class="about_data bd_grid">
            <p class="about__description">
              <span>Hello, I am Woody<br /></span>
            I am a senior student at the Simon Fraser University with a major in Computer Science. I have a passion for computer programming and information technology.
            </p>

            <div>
              <span class="about_number">2.5</span>
              <span class="about_achievement">Years of Experience</span>
            </div>
            <div>
              <span class="about_number">6</span>
              <span class="about_achievement">Projects completes</span>
            </div>
            <!-- <div>
              <span class="about_number">00</span>
              <span class="about_achievement">Best work awards</span>
            </div> -->
          </div>
          <img src="assets/img/Woody.png" alt="" class="about__img" />
        </div>
      </section>

      <!-- ========== qualification ========== -->
      <section class="qualification section bd_container">
        <span class="section-subtitle">Experience and education</span>
        <h2 class="section-title">Qualification</h2>
        <div class="qualification__container bd_grid">
          <!-- for the work experience part -->
          <div class="qualification_content">
            <h2 class="qualification_title">
              <i class='bx bx-briefcase-alt-2' ></i>
              Experience
            </h2>

            <div class="bd_grid">
              <div class="qualification_data">
                <h3 class="qualification_area">
                  Junior JavaScript Developer Co-op
                </h3>

                <div class="qualification__box">
                  <span class="qualification_work">
                    <i class='bx bxs-briefcase' ></i>
                    Semios Vancouver, BC
                  </span>

                  <span class="qualification_work">
                    <i class="bx bx-calendar-alt qualification_icon"></i>
                    Sep 2024 - Dec 2024
                  </span>
                </div>
              </div>

              <div class="qualification_data">
                <h3 class="qualification_area">
                  Junior Software/System Tester Co-op
                </h3>

                <div class="qualification__box">
                  <span class="qualification_work">
                    <i class='bx bxs-briefcase' ></i>
                    Gatekeeper System inc. Abbotsford, BC
                  </span>

                  <span class="qualification_work">
                    <i class="bx bx-calendar-alt qualification_icon"></i>
                    Sep 2023 - May 2024
                  </span>
                </div>
              </div>

              <div class="qualification_data">
                <h3 class="qualification_area">Full-stack developer Intern</h3>

                <div class="qualification__box">
                  <span class="qualification_work">
                    <i class='bx bxs-briefcase' ></i>
                    M2W IT Solution, Toronto, ON
                  </span>

                  <span class="qualification_work">
                    <i class="bx bx-calendar-alt qualification_icon"></i>
                    May 2022 - Dec 2022
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- end for the work experience part -->

          <!-- for the education part -->
          <div class="qualification_content">
            <h2 class="qualification_title">
              <i class="bx bx-book-bookmark qualification_title-icon"></i>
              Education
            </h2>

            <div class="bd_grid">
              <div class="qualification_data">
                <h3 class="qualification_area">Computing Science (Major)</h3>

                <div class="qualification__box">
                  <span class="qualification_work">
                    <i class="bx bxs-book-alt qualification_icon"></i>
                    SFU - Simons Fraiser University
                  </span>

                  <span class="qualification_work">
                    <i class="bx bx-calendar-alt qualification_icon"></i>
                    Sep 2021 - Current
                  </span>
                </div>
              </div>

              <div class="qualification_data">
                <h3 class="qualification_area">
                  Interactive Art and Technology (Minor)
                </h3>

                <div class="qualification__box">
                  <span class="qualification_work">
                    <i class="bx bxs-book-alt qualification_icon"></i>
                    SFU - Simons Fraiser University
                  </span>

                  <span class="qualification_work">
                    <i class="bx bx-calendar-alt qualification_icon"></i>
                    Sep 2019 - Sep 2021
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- end for the education part -->
        </div>
      </section>

      <!-- ========== PORFOLIO ========== -->
      <section class="porfolio section bd_container" id="portfolio">
        <span class="section-subtitle">My recent works</span>
        <h2 class="section-title">Porfolio</h2>

        <div class="portfolio_nav">
          <!-- <span class="portfolio_item active_portfolio" data-filter="all"
            >ALL</span
          ><span class="portfolio_item" data-filter=".frontend">Web</span
          ><span class="portfolio_item" data-filter=".game">Game</span
          ><span class="portfolio_item" data-filter=".ux">UI/UX</span
          ><span class="portfolio_item" data-filter=".design">Design</span> -->
        </div>

        <div class="portfolio__container bd_grid" style="cursor: pointer">
          <div
            class="portfolio_content mix frontend"
            id="dashboard1"
            style="cursor: pointer"
          >
            <img
              src="assets/img/dashboard/dashboard1.png"
              alt=""
              class="portfolio_img"
            />

            <div class="portfolio_data" id="dashboard">
              <span class="portfolio_subtitle"
                >Web development (React/Hooks, Material UI) - Personal
                Project</span
              >
              <h2 class="portfolio_title">myWorkSpace</h2>

              <a
                href="https://github.com/WoodyXiao/myWorkSpace"
                class="button button-link"
                >Source Code</a
              >
            </div>
          </div>

          <div class="portfolio_content mix frontend" id="public1">
            <img src="assets/img/PublicArt1.png" alt="" class="portfolio_img" />

            <div class="portfolio_data" id="public">
              <span class="portfolio_subtitle" id="publicSpan"
                >Web development (JavaScript, PHP, MySQL) - School Project</span
              >
              <h2 class="portfolio_title">Vancouver Public Art</h2>
              <a
                href="https://github.com/WoodyXiao/IAT352-Final-Project"
                class="button button-link"
                >Source Code</a
              >
            </div>
          </div>

          <!-- <div
            class="portfolio_content mix frontend"
            id="tracker1"
            style="cursor: pointer"
          >
            <img
              src="assets/img/Covid19Tracker1.PNG"
              alt=""
              class="portfolio_img"
            />

            <div class="portfolio_data" id="tracker">
              <span class="portfolio_subtitle"
                >Web development (JavaScript) - Personal Project</span
              >
              <h2 class="portfolio_title">Covid-19 Tracker</h2> -->
          <!-- <a
                href="https://github.com/WoodyXiao/covid-19-tracker"
                class="button button-link"
                >Source Code</a
              > -->
          <!-- </div>
          </div> -->

          <div
            class="portfolio_content mix frontend"
            id="weather1"
            style="cursor: pointer"
          >
            <img src="assets/img/Weather1.PNG" alt="" class="portfolio_img" />

            <div class="portfolio_data" id="weather">
              <span class="portfolio_subtitle"
                >Web development (React, RestAPI) - Personal Project</span
              >
              <h2 class="portfolio_title">Weather Checker</h2>
              <a
                href="https://github.com/WoodyXiao/weather-react-app"
                class="button button-link"
                >Source Code</a
              >
            </div>
          </div>

          <!-- <div
            class="portfolio_content mix frontend"
            id="pet1"
            style="cursor: pointer"
          >
            <img src="assets/img/SfuPet1.PNG" alt="" class="portfolio_img" />

            <div class="portfolio_data" id="pet">
              <span class="portfolio_subtitle"
                >Web development (HTML CSS JS) - School Project</span
              >
              <h2 class="portfolio_title">SFUPet business website</h2>

              <a
                href="https://github.com/WoodyXiao/xwd-website-practice"
                class="button button-link"
                >Source Code</a
              >
            </div>
          </div> -->

          <div
            class="portfolio_content mix frontend"
            id="stirfry1"
            style="cursor: pointer"
          >
            <img
              src="assets/img/stirfry/stirfry1.png"
              alt=""
              class="portfolio_img"
            />

            <div class="portfolio_data" id="stirfry">
              <span class="portfolio_subtitle"
                >Interactive multimedia programming (JAVA) - School
                Project</span
              >
              <h2 class="portfolio_title">Yum Yum Stir Fry</h2>

              <a
                href="https://github.com/WoodyXiao/StirfryGame"
                class="button button-link"
                >Source Code</a
              >
            </div>
          </div>

          <!-- <div class="portfolio_content mix game">
            <a href="javascript:;"
              ><img src="assets/img/MegaMan1.PNG" alt="" class="portfolio_img"
            /></a>

            <div class="portfolio_data">
              <span class="portfolio_subtitle" id="mega"
                >Game development (Processing) - School Project</span
              >
              <a href=""><h2 class="portfolio_title">Mega Man X</h2></a>
              <a href="" class="button button-link">Source Code</a>
            </div>
          </div> -->

          <!-- <div class="portfolio_content mix design">
            <a href=""
              ><img src="assets/img/Poster1.png" alt="" class="portfolio_img"
            /></a>

            <div class="portfolio_data">
              <span class="portfolio_subtitle"
                >Poster Design (Adobe Illustrator) - School Project</span
              >
              <a href=""><h2 class="portfolio_title">Poster Design</h2></a>
              <a href="" class="button button-link">Source Code</a>
            </div>
          </div> -->
        </div>
      </section>

      <div class="project-detail-window" id="details"></div>

      <!-- ========== CONTACTME ========== -->
      <section class="contact section bd_container" id="contact">
        <span class="section-subtitle">For projects</span>
        <h2 class="section-title">Contact Me</h2>

        <div class="contact__container bd_grid">
          <div class="contact__content bd_grid">
            <div class="contact__box">
              <i class="bx bx-home contact__icon"></i>
              <h3 class="contact__title">Location</h3>
              <span class="contact__description">Burnaby Canada</span>
            </div>

            <!-- <div class="contact__box">
              <i class="bx bx-phone contact__icon"></i>
              <h3 class="contact__title">Phone</h3>
              <span class="contact__description">204-881-3703</span>
            </div> -->

            <div class="contact__box">
              <i class="bx bx-envelope contact__icon"></i>
              <h3 class="contact__title">Email</h3>
              <span class="contact__description">wendix@sfu.ca</span>
            </div>

            <div class="contact__box">
              <i class="bx bx-chat contact__icon"></i>
              <h3 class="contact__title">Chat</h3>
              <div>
                <a
                  href="https://www.instagram.com/wendiii_xiao/"
                  class="contact__social"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="" class="contact__social"
                  ><i class="bx bxl-whatsapp"></i
                ></a>
                <a
                  href="https://www.facebook.com/wendy.xiao.37"
                  class="contact__social"
                  ><i class="bx bxl-messenger"></i
                ></a>
              </div>
            </div>
          </div>

          <form action="" class="contact__form" style="min-height: 500px">
            <!-- <div class="contact__inputs">
              <input type="text" placeholder="Name" class="contact__input" />
              <input type="email" placeholder="Email" class="contact__input" />
            </div>

            <div class="contact__inputs">
              <input type="text" placeholder="Project" class="contact__input" />
              <input
                type="number"
                placeholder="Number"
                class="contact__input"
              />
            </div>

            <textarea
              name=""
              id=""
              cols="0"
              rows="7"
              placeholder="Message"
              class="contact__input"
            ></textarea>

            <input
              type="submit"
              class="button contact__button"
              value="Send Message"
            /> -->
          </form>
        </div>
      </section>
    </main>
    <!-- ========== end for the main part ========== -->

    <!-- ========== FOOTER ========== -->
    <footer class="footer">
      <div class="footer__container bd_container">
        <h1 class="footer__title">Woody Xiao</h1>
        <p class="footer__description">
          I am Woody Xiao, this is my personal website.
        </p>

        <div class="footer__social">
          <a href="https://www.linkedin.com/in/woody-xiao" class="footer__link"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="https://github.com/WoodyXiao" class="footer__link"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="#" class="footer__link"><i class="bx bxl-instagram"></i></a>
        </div>

        <p class="footer__copy">&#169; 2024 WoodyXiao. All right reserved</p>
      </div>
    </footer>

    <!-- 官方文档: http://aui.github.io/art-template/zh-cn/docs/ -->
    <script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>

    <!-- detail template -->
    <script id="tpl-project-details" type="text/html">
      {{each projectDetails}}
      <div class="project-detail">
        <div class="close-icon-container">
          <div class="close-icon">CLOSE</div>
        </div>
        <div class="porject-detail-upperbox">
          <div class="detail-img-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                {{each $value.img}}
                <div class="swiper-slide">
                  <img src="{{$value}}" alt="" />
                </div>
                {{/each}}
              </div>
              <!-- 如果需要分页器 -->
              <div class="swiper-pagination"></div>

              <!-- 如果需要导航按钮 -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <!-- 如果需要滚动条 -->
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
          <div class="detail-context-container">
            <div class="detail-information">
              <div class="detail-title-container">
                <h2>Project Information</h2>
              </div>
              <div class="detail-category-container">
                <p><span>Category</span>: {{$value.Category}}</p>
                <p><span>Language</span>: {{$value.Language}}</p>
                <p><span>Type</span>: {{$value.Type}}</p>
                <p>
                  <span>Member(s)</span>: {{each $value.Name}} {{$value}}
                  {{/each}}
                </p>
                {{if($value.URL)}}
                <p>
                  <span>Project URL</span>: <a href="{{$value.URL}}">URL</a>
                </p>
                {{/if}}
                <p>
                  <span>Source Code</span>:
                  <a href="{{$value.Code}}">Github</a>
                </p>
              </div>
            </div>
            <div class="detail-description">
              <div class="detail-description-title">
                <h3>{{$value.Title}}</h3>
              </div>

              <div class="detail-description-body">
                <p>{{$value.Description}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="project-detail-lowerbox">
          <div class="project-detail-title-container">
            <h3>Project details</h3>
          </div>
          <div class="project-detail-description-container">
            <p>{{$value.Details}}</p> 
            <div class="project-detail-description-container-content">
              {{each $value.Content}}
              <h4>{{$value.subTitle}}</h4>
              {{each $value.img}}
              <img src="{{$value}}" alt="" />
              {{/each}}
              <p style="padding-top:20px;">{{$value.content}}</p>
              {{if $value.reportURL}}
              <p>
                (For
                <a href="{{$value.reportURL}}">full report</a>)
              </p>
              {{/if}} {{if $value.apiURL}}
              <h4>API Reference</h4>
              <ul>
                {{each $value.apiURL}}
                <li>
                  {{$value.name}}: <a href="{{$value.url}}"> {{$value.url}}</a>
                </li>
                {{/each}}
              </ul>
              {{/if}}{{/each}}
            </div>
          </div>
          <div class="project-detail-title-container">
            <h3>Project Reflection</h3>
          </div>
          <div class="project-detail-description-container">
            <div class="project-detail-description-container-content">
              <p>{{$value.Reflection}}</p>
            </div>
          </div>
        </div>
        <div class="backToTopButton">
          <i class="bx bx-chevron-up backToTopButtonIcon"></i>
        </div> -->
      </div>
      {{/each}}
    </script>

    <!-- ========== MIXITUP FILTER ========== -->
    <script src="assets/js/mixitup.min.js"></script>
    <!-- ========== for the main js part ========== -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/popup.js"></script>

    <!-- for the swiper.js  -->
    <script src="./assets/swiper-7.4.1//swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/swiper.js"></script>
  </body>
</html>
